body { margin:0; padding:0; }
#map { position:fixed; top:55px; bottom:110px; width:100%; }
#title {position:fixed; top:0px; height:55px; width:100%; }

.map-overlay {
    display:none;
    font: 14px/20px 'Lato', Lato, Helvetica, sans-serif;
    position: absolute;
    width: 240px;
    left: 0;
    padding: 10px;
}

.map-overlay .map-overlay-inner {
    background-color: #fff;
    box-shadow:0 1px 2px rgba(0, 0, 0, 0.10);
    border-radius: 3px;
    margin-bottom: 10px;
}

.map-overlay-inner fieldset {
    border: none;
    padding: 0;
    margin: 0 0 10px;
}

.map-overlay-inner fieldset:last-child {
    margin: 0;
}

.map-overlay-inner select {
    width: 100%;
}

.map-overlay-inner label {
    display: block;
    font-weight: bold;
    margin: 0 0 5px;
    padding:5px;
}

.map-overlay-inner p {
    padding:5px;
}

.map-overlay-inner button {
    font-family: Lato;
    font-weight: bold;
    font-size:1.2em;
    display: inline-block;
    color: slategrey;
    width: 240px;
    height: 40px;
    border: none;
    cursor: pointer;
}

.map-overlay-inner button.active {
    font-family: Lato;
    font-weight: bold;
    font-size:1em;
    display: inline-block;
    color: black;
    width: 240px;
    height: 40px;
    border: none;
    cursor: pointer;
    opacity:0.25;
}

.map-overlay-inner button:focus {
    outline: none;
}

.map-overlay-inner button:hover {
    box-shadow:inset 0 0 0 3px rgba(0, 0, 0, 0.10);
}

.legend-overlay {
    font-size:0;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
}

.legend-overlay .legend-overlay-inner {
    /* background-color: #fff; */
    /* box-shadow:0 1px 2px rgba(0, 0, 0, 0.10); */
    /* border-radius: 3px; */
}

.legend-overlay-inner button {
    font-family: Lato;
    font-weight: bold;
    display: inline-block;
    height: 55px;
    border: none;
    cursor: pointer;
}

.legend-overlay-inner button.active {
    font-family: Lato;
    font-weight: bold;
    display: inline-block;
    color: black;
    border: none;
    cursor: pointer;
    opacity:0.25;
}

.os {
    background:#a1bb96;
    width:13.58%;;
    color: slategrey;
}

.ag {
    background:#e2eebd; 
    width:10.34%;
    color: slategrey;
        
}

.sfr {
    background:#fbf9c1; 
    width:30.10%;
    color: slategrey;
}

.mfr {
    background:#fee1c2; 
    width:11.35%;
    color: slategrey;
}

.com {
    background:#f8b9cb; 
    width:4.55%;
    color: slategrey;
}

.mfrg {
    background:#bfd2ea; 
    width:9.88%;
    color: slategrey;
}

.pkg {
    background:#cfccd4; 
    width:1.47%;
    color: slategrey;
}

.pubf {
    background:#b6d5cc; 
    width:5.66%;
    color: slategrey;
}

.roads {
    background:#808080;
    width: 13.07%;
    color:white;
}

.legend-overlay-inner button:focus {
    outline: none;
}

.legend-overlay-inner button:hover {
    box-shadow:inset 0 0 0 3px rgba(0, 0, 0, 0.10);
}

#infobox {
    font-family: Lato;
    position: fixed;
    bottom: 55px;
    left: 0; 
    width: 100%;
    height: 55px;
    font-size: xx-large;
    line-height: 55px;
}

#chartlabel{
    top: -28px;
    position: absolute;
    border-style: solid;
    border-width: 1px;
}

#zonecontainer{
        position:relative;
        display:block;
        width:60px
}

#zonelabel{
    border-style: solid;
    border-width: 1px;
    display: block;
    width:60px;
}

.offzoneclass {
    display:none;
}

.onzoneclass {
    display:block;
}

@media (min-width:801px){
#info {
top:18px;
left:20px;
}
}

@media (max-width:800px) { 
    #map {  
        height:65%; 
    }
        .map-overlay {
            display:block;
            font: 14px/20px 'Lato', Lato, Helvetica, sans-serif;
            position: absolute;
            width: 100%;
            top: 65%;
            left: 0;
            padding: 0px;
            overflow:hidden;
        }
        .map-overlay-inner button {
            width: 100%;
        }
        
        .map-overlay-inner button.active {
            width: 100%;
        }
           .legend-overlay {
               display:none;
        }
}